       

<div class="about-section col s12">
  <h4>ABOUT US</h4>
  <div class="about-section-info col s8 offset-s2">
    <p>El sistema de notificaciones llamado "Notifications" es una aplicacion que permite la carga de documentos  y la notificacion de las personas mencionadas, cada persona es mencionada atravez de su DNI.</p>
    <br>
    <p>Esta aplicacion es un producto nuevo y autonomo. Fue creado con la necesidad de informar a la gente cuando sea mencionada en un acta y asi poder acceder a ella.</p>
  </div>
</div>

      