<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

        </style>
        </head>
        <body>
        <div class="about-section">
        <h1>About Us</h1>
        <p>The notification system called "Notifications" is an application that will allow the loading of documents and the notification to the mentioned persons, a person is mentioned with the use of the DNI</p>
        <p>The notification system is a new and autonomous product. It is created with the need of informed people when they are mentioned in any document and access It</p>
        </div>

        <h2 style="text-align:center">Our Team</h2>
        <div class="row">
        <div class="column4">
        <div class="card">
          <img src="/w3images/team1.jpg" alt="Arian" style="width:100%">
          <div class="container">
            <h2>Arian Villareal</h2>
            <p class="title">Student</p>
            <p>A computer student in National University of Rio 4, Argentina</p>
            <p>yoarian94@gmail.com </p>
            <p><button class="button1">Contact</button></p>
          </div>
        </div>
        </div>

        <div class="column4">
        <div class="card">
          <img src="" alt="Nico" style="width:100%">
          <div class="container">
            <h2>Nicolas Re</h2>
            <p class="title">Student</p>
            <p>A computer student in National University of Rio 4, Argentina</p>
            <p>nicolasre58@gmail.com</p>
            <p><button class="button1">Contact</button></p>
          </div>
        </div>
        </div>

        <div class="column4">
        <div class="card">
          <img src="/w3images/team3.jpg" alt="Pablo" style="width:100%">
          <div class="container">
            <h2>Pablo Ameri</h2>
            <p class="title">Student</p>
            <p>A computer student in National University of Rio 4, Argentina    </p>
            <p>poameri@gmail.com</p>
            <p><button class="button1">Contact</button></p>
          </div>
        </div>
        </div>
        </div>
    </body>

</html>
