<div class="modify-box">
	<div class="left">
		<p> </p>
	</div>

	<div class="center">

		<div class="modify-password">

			<form name="formEmail" action="/assign" method="post">
				<label for="passwordActual"></label>
				<input class="button" type="password" name="passwordActual" placeholder="Ingrese su contraseña:"><br><br>
				<label for="emailnewAdmin"></label>
				<input class="button" type="text" name="emailnewAdmin" placeholder="Email del usuario:"><br><br><br>
					
				<h3 style="text-align:center;">Opciones disponibles:</h3>

				<ul >
					<li>
						<input class="buttonAsD" type="submit" name="dUser" value="Eliminar Usuario"/><br>
						<input class="buttonAs" type="submit" name="admin" value="Asignar Administrador"/><br>
						<input class="buttonAs" type="submit" name="sAdmin" value="Asignar Super Administrador" /><br>
					</li>
				</ul>
			</form>
			<form><%= @band %></form>

		</div>

		<div class="clearfix"></div>
	</div>	
	<div class="right"></div>
	<div class="clearfix"></div>
</div>