<div class="modify-box">
	<div class="left">
		<p> </p>
	</div>

	<div class="center">

		<div class="modify-password">

			<form name="formEmail" action="/assign" method="post">
				<label for="passwordActual"></label>
				<input class="button" type="password" name="passwordActual" placeholder="Ingrese su contraseña:"><br><br>
				<label for="emailnewAdmin"></label>
				<input class="button" type="text" name="emailnewAdmin" placeholder="Email del usuario:"><br><br><br>
					
				<h3 style="text-align:center;">Opciones disponibles:</h3>
				<div class="user-options-box" style="border-style: none;">
					<ul style="padding-left: 0px;">
						<li><input class="button-user" style="border-radius: 4px 4px 4px 4px;color: rgb(255, 82, 2); height: 25px" type="submit" name="dUser" value="Eliminar Usuario"/></li>
						<li><input class="button-user" style="border-radius: 4px 4px 4px 4px;height: 25px;"type="submit" name="admin" value="Asignar Administrador"/></li>
						<li><input class="button-user" style="border-radius: 4px 4px 4px 4px;height: 25px;"type="submit" name="sAdmin" value="Asignar Super Administrador" /></li>
					</ul>
			  </div>
<!--
				<ul >
					<li>
						<input class="buttonAsD" type="submit" name="dUser" value="Eliminar Usuario"/><br>
						<input class="buttonAs" type="submit" name="admin" value="Asignar Administrador"/><br>
						<input class="buttonAs" type="submit" name="sAdmin" value="Asignar Super Administrador" /><br>
					</li>
				</ul>
			-->				
			</form>
			<form><%= @band %></form>

		</div>

		<div class="clearfix"></div>
	</div>	
	<div class="right"></div>
	<div class="clearfix"></div>
</div>