<div class="modify-box">
	<div class="left">
		<p> </p>
	</div>

	<div class="center">

		<div class="modify-password">
			<h2 style="text-align:center;">Opciones disponibles:</h2><br><br>

			<form name="formEmail" action="/assign" method="post">
				<label for="passwordActual">Password Actual:</label>
				<input class="buttonmid" type="password" name="passwordActual"><br><br>
				<label for="emailnewAdmin">Email del Usuario:</label>
				<input class="buttonmid" type="text" name="emailnewAdmin"><br><br><br>
				<form><%= @band %></form></ul>
			</form>
		
		
		
			<ul>
				<li>
					<input  type="submit" name="dUser" value="Eliminar Usuario"/><br>
				</li>
				<li>
					<input  type="submit" name="admin" value="Asignar Administrador"/>
				</li>
				<li>
					<input  type="submit" name="sAdmin" value="Asignar Super Administrador" />
				</li>
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>	
	<div class="right"></div>
	<div class="clearfix"></div>
</div>