<!DOCTYPE html>
<html>
<head>
<link rel=”stylesheet” type=”text/css” href=”css/style.css”>
<p>Barra de login arriba </p>
<title>Pagina de Prueba   </title>
<form action="/logeduser" method="get">
  <input type="submit" value="login" >
</form>
<form action="/logedadmin" method="get">
  <input type="submit" value="loginadmin" >
</form>
</head>


<body>

<h1>Lista Publica de Actas</h1>
<ul>
  <li><a href="https://www.w3schools.com">Nombre y link de Acta 1  </a></li>
  <li><a href="https://www.w3schools.com">Nombre y link de Acta 2  </a></li>
  <li><a href="https://www.w3schools.com">Nombre y link de Acta 3  </a></li>
  <li><a href="https://www.w3schools.com">Nombre y link de Acta N  </a></li>

</ul>

<form action="/about" method="get">
  <input type="submit" value="about" >
</form>
</body>

</html>
