<!DOCTYPE html>
<html>
<head>

</head>
<body>
	<div class="column-container">
	  <div class="column1">
			<form  action="/sign_in" method="post">
				<label for="fname">email:</label><br>
				<input type="text" name="email"class="button"></input><br>
				<label for="fname">Password:</label><br>
				<input type="password" name="password" class="button"></input><br><br>
				<input type="submit" value="Login" class="button"></input><br><br>
			</form>
			<form action="/newUser" method="get">
				<label for="fname">New user</label><br>
				<input type="submit" value="Create" class="button"></input><br><br><br>
			</form>
			<form action="/notificationlist" method="get">
				<label for="fname">View docs as a guest</label><br>
				<input type="submit" value="Docs" class="button"></input><br>
			</form>
	  </div>

		<div class="column2">
			<p>Presentacion de la pagina, Posiblemente un logo y algo bonito</p>
		</div>

	</div>

</body>
