<!DOCTYPE html>
<html>
<head>
<title>index de prueba</title>
<form action="/loged" method="post" class="about-section">
 <input type="text" name="user"></input>
 <input type="password" name="key"></input>
 <input type="submit" value="Login" class="buttBack"></input>
</form>


</head>


<body>

<h1>Lista Publica de Actas</h1>
<ul>
  <li><a href="/acta1" target="_blank" class="buttList">Nombre y link de Acta 1  </a></li>
  <li><a href="/acta2" target="_blank" class="buttList">Nombre y link de Acta 2  </a></li>
  <li><a href="/actaN" target="_blank" class="buttList">Nombre y link de Acta 3  </a></li>
  <li><a href="/acta3" target="_blank" class="buttList">Nombre y link de Acta N  </a></li>
</ul>

</body>

</html>
