			<form  action="/sign_in" method="post">
				<h3>Acceso usuarios</h3><br>
				<input type="text" name="email"class="button" placeholder="Ingrese su Email"></input><br>
				<input type="password" name="password" class="button" placeholder="Ingrese su contraseña"></input><br><br>
				<input type="submit" value="Ingresar" class="button1"></input>
				<form><a style="color:red;"><%=@log_err%></a>
				</form><br><br><br>
			</form>
			<form action="/newUser" method="get">
				<label for="fname">¿Aun no se registró?</label><br>
				<input type="submit" value="Registrate Ahora" class="button1"></input><br><br><br>
			</form>
			<!--<form action="/notificationlist" method="get">
				<label for="fname">View docs as a guest</label><br>
				<input type="submit" value="Docs" class="button"></input><br>
			</form>-->
