			<form  action="/sign_in" method="post">
				<label for="fname">Ingrese su Email:</label><br>
				<input type="text" name="email"class="button"></input><br>
				<label for="fname">Contraseña:</label><br>
				<input type="password" name="password" class="button"></input><br>
				<input type="submit" value="Ingresar" class="button"></input><br><br>
			</form>
			<form action="/newUser" method="get">
				<label for="fname">¿Aun no se registró?</label><br>
				<input type="submit" value="Registrarse" class="button"></input><br><br><br>
			</form>
			<form action="/notificationlist" method="get">
				<label for="fname">View docs as a guest</label><br>
				<input type="submit" value="Docs" class="button"></input><br>
			</form>
