<!DOCTYPE html>
<html>
<head>
<link rel=”stylesheet” type=”text/css” href=”css/style.css”>
<title>index de prueba</title>

<form action="/login" method="post">
 <input type="text" name="user"></input>
 <input type="text" name="key"></input>
 <input type="submit" value="Login"></input>
</form>
<a href="/about">About</a>

</head>


<body>

<h1>Lista Publica de Actas</h1>
<ul>
  <li><a href="https://www.w3schools.com">Nombre y link de Acta 1  </a></li>
  <li><a href="https://www.w3schools.com">Nombre y link de Acta 2  </a></li>
  <li><a href="https://www.w3schools.com">Nombre y link de Acta 3  </a></li>
  <li><a href="https://www.w3schools.com">Nombre y link de Acta N  </a></li>

</ul>

</body>

</html>
