<div class="row">
<form  action="/sign_in" method="post">
	<div class="login-tittle col s12">
		<h5>Bienvenido
		</h5>
	</div>
	<input type="text" name="email"class="button" placeholder="Ingrese su Email"></input><br>
	<input type="password" name="password" class="button" placeholder="Ingrese su contraseña"></input><br><br>
	<button class="btn1 btn waves-effect waves-light col s12 card-panel  brown lighten-4"  type="submit" name="action">Ingresar</button>
	<form><a style="color:red;"><%=@log_err%></a>
	</form><br><br><br>
</form>
<form action="/newUser" method="get">
	<label for="fname">¿Aun no se registró?</label><br>
	<button class="btn1 btn waves-effect waves-light col s12 card-panel brown lighten-4"  type="submit" name="action">Registrarse Ahora</button><br><br><br>
</form>
<form action="/index" method="post">
	<label for="fname">Busque actas en las que se lo mensiona, con solo infgresar su DNI</label>
	<input type="text" name="dni"class="button" placeholder="Ingrese su DNI"></input><br>
	<button class="btn1 btn waves-effect waves-light col s12 card-panel brown lighten-4"  type="submit" name="action">Buscar Actas</button><br><br><br>
</form>
</div>
<script src="websocket.js" type="text/javascript"></script>
