<!DOCTYPE html>
<html>
<head>

</head>
<body>
	<div class="column-container">
	  <div class="column1">
			<form  action="/sign_in" method="post">
				<label for="fname">email:</label><br>
				<input type="text" name="email"class="button"></input><br>
				<label for="fname">Password:</label><br>
				<input type="password" name="password" class="button"></input><br><br>
				<input type="submit" value="Login" class="button"></input><br><br>
			</form>
			<form action="/newUser" method="get">
				<label for="fname">New user</label><br>
				<input type="submit" value="Create" class="button"></input><br><br><br>
			</form>
			<form action="/notificationlist" method="get">
				<label for="fname">View docs as a guest</label><br>
				<input type="submit" value="Docs" class="button"></input><br>
			</form>
	  </div>

		<div class="column2">
		
		<ul id="li1">
			
			<li >
				<h1 id="section_headder">Lista Publica de Actas Facultad de Ciencias Exactas</h1>
			</li> 
			<li>
				<ol id="lista_publica">
					<% @arr.each do |elem| %>
					<li> 
						<p ><strong><u> Resolución:</u></strong> <strong><%=Document.first(filename: elem).resolution%></strong></p>
							
						<p>Fecha: <%=Document.first(filename: elem).realtime.strftime("%d/%m/%y")%>
							<a href="file/<%= elem%>"><strong>Descargar</strong></a>
						</p>
					</li>
					<% end %>
				</ol>
			</li>
		</ul>
		</div>

	</div>

</body>
