<!DOCTYPE html>
<html>
<head>
  
<title></title>

<link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>

<%= yield %>
<div bottom class="about-section">
  <a href="/about" class="about-section">About</a>
</div>
</body>

</html>
