<!DOCTYPE html>
<html>
<head>

<title>
	Home | Sistema de Actas
</title>
 <!--Import Google Icon Font-->
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <!--Import materialize.css-->
 <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>

 <!--Let browser know website is optimized for mobile-->
 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<div class="header-container z-depth-5">
<div class="header-logo">
<!--	<img src="/resources/logo2.png" alt="notifications logo" height="64" width="47">-->
</div>
<div class="header-tittle">
	<h1>Universidad Nacional de Río Cuarto</h1>
	<p>Sistema de actas Públicas</p>
	<div class="clearfix"></div>
</div>
<div class="header-menu">
	<ul id="ullista-flex">
		  <!-- <li class= "lista"><a href="/about" >about</a></li> -->
		  <a href="/sign_in" >index</a>
	  </ul>
</div>
<div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="row">

<%= yield %>
</div>
<div class="clearfix"></div>
<footer class="page-footer">
<div class="container">
  <div class="row">
	<div class="col l6 s12">
	  <h5 class="white-text">Sistema de Actas U.N.R.C</h5>
	  <p class="grey-text text-lighten-4">Servicio de Notificacion de actas.</p>
	</div>
	<div class="col l4 offset-l2 s12">
	  <h5 class="white-text">Links</h5>
		<ul>
			<li><a class="grey-text text-lighten-3" href="/about">About Us</a></li>
		</ul>
	</div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
  © 2020 Copyright
  </div>
</div>
</footer>
</body>
</html>
