<!DOCTYPE html>
<html>
<head>

<title>Pagina que ve el USUARIO cuando se loguea</title>
</head>


<body>

<h1>Menu de USUARIO </h1>
<ul>
    <li><form action="/myData" method="get">
      <input type="submit" value="Mi Perfil" >
      </form></li>
    <li><form action="/notificationlist" method="get">
      <input type="submit" value="Notificaciones" >
      </form></li>
    <li><form action="/uploadrecord" method="get">
      <input type="submit" value="Subir Acta" >
      </form></li>
    <li><form action="/recordlist" method="get">
      <input type="submit" value="Ver Actas Subidas">
      </form></li>
</ul>
<form action="/about" method="get">
  <input type="submit" value="about">
</form>
</body>

</html>
