<!DOCTYPE html>
<html>
<head>


<title>Pagina que ve el USUARIO cuando se loguea</title>
<div class="about-section">

</div>
</head>


<body>

<h1>Menu de <%= @name %> </h1>
<form action="/" method="get">
   <p><button class="buttBack"> - Back to Main Page</button></p>
<form>
        <!-- Grey navigation panel -->


<form action="/myData" >
  <button onclick="get()" class="buttList">Mi Perfil</button>
</form>
<!-- miren este boton -->
<form action="/notificationlist" >
  <button onclick="get()" class="buttList">Notificaciones</button>
</form>

<form action="/uploadrecord" method="get">
  <input type= "<%= @admin %>" value="Subir Acta" class="buttList">
</form>

<form  action="/recordlist" method="get">
  <input  type= "<%= @admin %>" value="Ver Actas Subidas" class="buttList">
</form>

<form  action="/asign" method="get">
  <input  type= "<%= @superAdmin %>" value="Asignar admin"class="buttList">
</form>

<form action="/" method="get">
 <p><button class="buttBack"> - Back to Main Page</button></p>
<form>

</body>

</html>
