<!DOCTYPE html>
<html>
<head>
	<title>Pagina que ve el USUARIO cuando se loguea</title>
</head>

<body>
	<div class="column-container">

	  <div class="column1" >
			<form action="/mydata" method="get" >
			  	<button class="button">Mi Perfil</button>
			</form><br>

			<form action="/notificationlist"  >
			  <button onclick="get()" class="button">Notificaciones</button>
			</form><br>

			<form action="/uploadrecord" >
			  <input type= "<%= @admin %>" value="Subir Acta" class="button">
			</form><br>

			<form  action="/recordlist" method="get">
			  <input  type= "<%= @admin %>" value="Ver Actas Subidas" class="button">
			</form><br>

			<form  action="/assign" method="get">
			  <input  type= "<%= @superAdmin %>" value="Asignar Administradores"class="button">
			</form><br>

			<form action="/index"  >
			  <button onclick="get()" class="button">Cerrar Sesion</button>
			</form><br>

	  </div>
	  <div class="column2">

	  </div>

	</div>
</body>

</html>
