<ul class=" z-depth-1"id="li1">
	
	<li class=" z-depth-1" >
		<h4 id="section_headder" style="margin:0em ;padding-top: 0px;border-bottom-style: ridge;border-bottom-color: #cfab7b;">
			Facultad de Ciencias Exactas
		</h4>
	</li> 
	<li>
		<ul class="lista_publica">
			<% @arr.each do |elem| %>
			
			<li class="li-box"> 
				<div class="record-box">
					<div class="clearfix"></div>
					<div class="record-data">
						<p><strong><u> Resolución:</u></strong> <strong><%=Document.first(filename: elem).resolution%></strong></p>
						<p> Fecha: <%=Document.first(filename: elem).realtime.strftime("%d/%m/%y")%> </p>
						<p>Descripcion: <%=Document.first(filename: elem).description%></p>
					</div>
					<div class="options-records-box-public">
						
						<a href="file/<%= elem%>"><strong>Descargar</strong></a>
					</div>
					<div class="clearfix"></div>
				</div>
			</li>
			

			<% end %>
		</ul>
	</li>
</ul>

