<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/index">Index</a>   #esto va al get "/index"
    <a href="/about">About</a>   #esto va al get "/about"
    <h1>Login</h1>
    <form action="/login" method="post"> #esto va al post "/login" donde se usan las variables key y user
     <input type="text" name="user"></input>
     <input type="text" name="key"></input>
     <input type="submit" value="Login"></input>
    </form>
  </body>
</html>
