<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Upload Image</title>
  </head>
  <body>
      <div class="column1 col s2 z-depth-2">
        <form action="/mydata" method="get">
          <button class="btn waves-effect waves-light col s12 card-panel brown lighten-4" style="color: #212121;">Cancelar</button>
        </form>
      </div>
      <!--------   Cargar Foto y Visualizar   ----------->
      <div class="column2 col s6 offset-s1">
        
     
          <div class="col s6 offset-s2" style="padding-top: 1em;">
            <label>Seleccione su Nueva imagen</label>
            <form action="/uploadImg" method="post" enctype="multipart/form-data">
              <div class="file-field input-field">
                <div class="btn waves-effect waves-light card-panel brown lighten-4" style="color: #212121;">
                  <span>Imagen</span>
                  <input type="file" name="myImg" value="" class="button" accept="image/*" onchange="loadFile(event)">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
              </div>
              <img class="z-depth-3" id="output" class="col s6" height="150px"/>
              <div class="clearfix"></div>
              <button class="btn waves-effect waves-light col s12 card-panel brown lighten-4" style="color: #212121;">Subir</button>
            </form>
          </div>
        
      </div>

      
  </body>
</html>

<script>
  var loadFile = function(event) {
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
      URL.revokeObjectURL(output.src) // free memory
    }
  };
</script>
