    <style>

    .error {color:red;}

    </style>

    <script>

    /**

     * Function que inserta un error por encima del elemento recibido

     * @param element -> texto que haga referencia al elemento

     * @param error -> texto del error

     */

    const showError = (element, error) => {

        const errorEl=document.createElement("div");

        errorEl.setAttribute("class","error");

        errorEl.innerHTML=error;

        document.querySelector(element).parentElement.prepend(errorEl);

    }
 

    const validatePassword = () => {

        //Cogemos los valores actuales del formulario

        const passActual=document.formName.passwordActual.value;

        const emNew1=document.formName.emailNew1.value;

        const emNew2=document.formName.emailNew2.value;


        //Patron para los numeros

        const patron1=new RegExp("[@]+");

        //Patron para las letras

        const patron2=new RegExp("[a-zA-Z]+");


        // Eliminamos los posible errores

        for (let el of document.querySelectorAll("div[class=error]")) {

            el.remove();

        }
 
        //falta verificar que el password actual sea == al password.user
        if (emNew1!=emNew2 || emNew1.length<6 || passActual=="" || emNew1.search(patron1)<0 || emNew1.search(patron2)<0) {

            if (passActual=="") {

                showError("input[name=emailNew1]", "Indicar tu contraseña actual");

            }

            if (emNew1.length<6) {

                showError("input[name=emailNew1]", "La longitud mínima tiene que ser de 6 caracteres");

            } else if (emNew1!=emNew2) {

                showError("input[name=emailNew1]", "La copia del nuevo email no coincide");

            } else if (emNew1.search(patron1)<0 || emNew1.search(patron2)<0) {

                showError("input[name=emailNew1]", "El email ingresado no es correcto");

            }

            return false;

        }

        return true;

    }

    </script>
<div class="modify-box">
<div class="left">
    <p> </p>
</div>

<div class="center">

    <div class="modify-password">
        <form name="formName" action="/modifyemail" method="post" onsubmit='return validatePassword()'>
            <div>Ingrese su Contraseña: <input type="password" name="passwordActual"></div>
            <div></div>
            <div>Nuevo email: <input type="text" name="emailNew1"></div>
            <div>Repite email: <input type="text" name="emailNew2"></div>
            <div><input type="submit" value="Modificar Email"></div>
        </form>
       
        <!--
        <form action="/mydata" method="get">
            <p><button class="button"> Volver a Mi Perfil </button></p>
            <form><%= @band %></form></ul>
        </form>
        -->
    </div>
</div>
<div class="right"></div>
<div class="clearfix"></div>
</div>