<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Upload Image</title>
  </head>
  <body>
      <div class="column1">
        <form action="/sign_in" method="get">
          <p><button class="button"> Back </button></p>
        </form>
      </div>
      <!--------   Cargar Foto y Visualizar   ----------->
      <div class="column2">
        <label>Upload your new Image!</label>
        <form class="button" action="/uploadImg" method="post" enctype="multipart/form-data">
          <input type="file" name="myImg" value="" class="button" accept="image/jpg" onchange="loadFile(event)">
          <img id="output" width="20%" height="150px"/>
          <input type="submit" value="Cargar"class="button">
        </form>
    </div>
  </body>
</html>

<script>
  var loadFile = function(event) {
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
      URL.revokeObjectURL(output.src) // free memory
    }
  };
</script>
