
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  </head>
  <body>
<div class="column-container">

  <div class="column1">
    <form action="/newUser" method="post"><br>
     <label for="fname" >Complete the form</label><br><br>

     <label for="fname">Last name:</label><br>
     <input type="text" name="surname"class="button"></input><br>

     <label for="fname">First name:</label><br>
     <input type="text" name="name"class="button"></input><br>

     <label for="fname">Username:</label><br>
     <input type="text" name="username"class="button"></input><br>

     <label for="fname">DNI:</label><br>
     <input type="text" name="dni"class="button"></input><br>

     <label for="fname">Email:</label><br>
     <input type="text" name="email"class="button"></input><br>

     <label for="fname">Password:</label><br>
     <input type="password" name="key"class="button"></input><br>

     <label for="fname">Repeat password:</label><br>
     <input type="password" name="password"class="button"></input><br><br>

     <input type="submit" value="submit"class="button"></input><br><br>
    </form>
  </div>
  <div class="column2" >

  </div>

</div>


  </body>
</html>
