  <head>
    <title>Registrate | Sistema de Actas</title>
  </head>
  <body>
    <div class="column-container">
      <div class="column1 col s2 z-depth-2">
        <form action="/index" method="get">
          <button class="btn waves-effect waves-light col s12 card-panel brown lighten-4 btn1">Cancelar</button>
        </form>
      </div>
      <div class="column2 col s10" >
         <!-- Formulario de registro-->
        <div class="register-box col s8 offset-s2">
         <div class="tittle col s6">
          <form name="newUser" action="/newUser" method="post" onsubmit='return valideNewUser()'><br>
            <h5>Completa el formulario</h5><br>
          </div>
          <div class="clearfix"></div>
             <!-- Input de apellido-->
            <div class="registerbox" >
              <div class="inputbox col s6" label for="register"></label>
              <input  type="text" name="surname"class="button" placeholder="Apellido:"></input>
              </div>
              <div class="errorbox col s6" >
                <p></p>
                <br>
                <input  name="error-surname" class="button" hidden></input>
              </div>
              <div class="clearfix"></div>
            </div>
             <!--input de nombre-->
            <div class="registerbox" >
            <div class="inputbox col s6" label for="register"></label>
              <input   type="text" name="name"class="button" placeholder="Nombre:"></input>
            </div>
            <div class="errorbox col s6" >
              <p></p>
              <br>
              <input  name="error-name" class="button" hidden></input>
            </div>
            <div class="clearfix"></div>
            </div>
             <!--Input de Usuario-->
            <div class="registerbox" > 
            <div class="inputbox col s6" label for="register"></label>
            <input  type="text" name="username"class="button" placeholder="Usuario"></input>
            </div>
            <div class="errorbox col s6" >
              <p></p>
              <br>
              <input  name="error-username" class="button" hidden></input>
            </div>
            <div class="clearfix"></div>
            </div> 
             <!--Input de DNI-->
            <div class="registerbox" > 
            <div  class="inputbox col s6" label for="register"></label>
            <input  type="text" name="dni"class="button" placeholder="DNI:"></input>
            </div>
            <div class="errorbox col s6" >
              <p></p>
              <br>
              <input  name="error-dni" class="button" hidden></input>
            </div>
            <div class="clearfix"></div>
            </div>
             <!--Input de eMail-->
            <div class="registerbox" >
            <div class="inputbox col s6" label for="register"></label>
            <input  type="text" name="email"class="button" placeholder="Email:"></input>
            </div>
            <div class="error-box" >
              <p></p>
              <br>
              <input  name="error-email" class="button" hidden></input>
            </div>
            <div class="clearfix"></div>
            </div> 
            <!--Input de Contraseña-->
            <div class="registerbox" >
              <div class="inputbox col s6" label for="register"></label>
                <input  type="password" name="key"class="button" placeholder="Contraseña:"></input>
              </div>
              <div class="errorbox col s6" >
                <p></p>
                <br>
                <input  name="errorkey" class="button" hidden></input>
              </div>
              <div class="clearfix"></div>
            </div> 
             <!--Input de Repetir Contraseña-->
            <div class="registerbox" >
            <div class="inputbox col s6" label for="register"></label>
            <input  type="password" name="password"class="button" placeholder="Repita la contraseña:"></input>
            </div>
            <div class="errorbox col s6" >
              <p></p>
              <br>
              <input  name="error-password" class="button" hidden></input>
            </div>
            <div class="clearfix"></div>
            </div>
            <button class="btn btn1 waves-effect waves-light col s6 card-panel brown lighten-4 ">Registrarse</button>
          </form>
        </div>
        <div class="clearfix"></div>
        <% if defined? log_err %>
          <form class="col s8 offset-s2"><a style="color:red;"><%=log_err%></a></form> 
        <% end %>
      </div>
    </div>
  </body>
</html>

    <script>

    /**

     * Function que inserta un error por encima del elemento recibido

     * @param element -> texto que haga referencia al elemento

     * @param error -> texto del error

     */

    const showError = (element, error) => {

        const errorEl=document.createElement("div");

        errorEl.setAttribute("class","error");

        errorEl.innerHTML=error;

        document.querySelector(element).parentElement.prepend(errorEl);

    }
 

    const valideNewUser = () => {

        //Cogemos los valores actuales del formulario

        const surname1=document.newUser.surname.value;

        const name1=document.newUser.name.value;

        const username1=document.newUser.username.value;

        const dni1 = document.newUser.dni.value;

        // convierto el mail a minusculas y elimino espacios
        const emNew1 = document.newUser.email.value.toLowerCase().replace(/ /g, "");
        document.newUser.email.value=emNew1;

        const pasNew1=document.newUser.key.value;

        const pasNew2=document.newUser.password.value;

        const patron1=new RegExp("[0-9]+");   //Patron para los numeros

        const patron2=new RegExp("[a-zA-Z]+");    //Patron para las letras

        const patron3=new RegExp("[@]+");     //Patron para el email

        const emailPattern=new RegExp("[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}");

        var used_eMails =<%= @eMailList.to_json %>;
        
        var used_username =<%= @usernameList.to_json %>;

        var used_dni = <%= @dniList.to_json %>;
        
        // Eliminamos los posible errores

        for (let el of document.querySelectorAll("div[class=error]")) {

            el.remove();

        }
 

        if (pasNew1!=pasNew2 || pasNew1.length<6 || pasNew1.search(patron1)<0 || pasNew1.search(patron2)<0 ||
          dni1.search(patron1)<0 || dni1.length<6 || surname1.search(patron2)<0 || name1.search(patron2)<0 ||
           emNew1.length<6 || emNew1.search(emailPattern)<0) {

            if (surname1=="") {

                showError("input[name=error-surname]", "*Este campo es obligatorio");

            } else if (surname1.search(patron2)<0) {

                showError("input[name=error-surname]", "*el apellido solo debe poseer letras");

            } else if (name1=="") {

                showError("input[name=error-name]", "*Este campo es obligatorio");

            } else if (name1.search(patron2)<0) {

              showError("input[name=error-name]", "*el nombre solo debe poseer letras");

            } else if (username1=="") {

              showError("input[name=error-username]", "*Este campo es obligatorio");

            }else if (dni1 == "" ) {

                showError("input[name=error-dni]", "*Este campo es obligatorio");

            }else if (dni1.length<6) {

                showError("input[name=error-dni]", "*Ingrese un DNI valido");

            }else if (emNew1=="") {

                showError("input[name=error-email]", "*Este campo es obligatorio");

            }else if(emNew1.search(emailPattern)<0 ) {

                showError("input[name=error-email]", "*Ingrese un email valido");

            }else if (pasNew1=="") {

                showError("input[name=errorkey]", "*Este campo es obligatorio");

            }else if(pasNew1.search(patron1)<0 || pasNew1.search(patron2)<0) {

                showError("input[name=errorkey]", "la contraseña debe poseer numeros y letras");

            }else if (pasNew1.length<6 || name1.search(patron2)<0 ) {

                showError("input[name=errorkey]", "*la contraseña debe poseer al menos 6 caracteres");

            }else if(pasNew2=="") {

                showError("input[name=error-password]", "*Este campo es obligatorio");

            }else if(pasNew1!=pasNew2) {

                showError("input[name=error-password]", "*Las contraseñas no coinciden");

            }
          
            return false;
  
        }

        return true;

    }

    </script>