<!DOCTYPE html>
<html>
<head>

<title>Mis Notificaciones</title>

</head>


<body>

<h1>Mis Notificaciones </h1>
<p>Aca va una lista de las notificaciones de un usuario especifico</p>
<ul>
 <li><form action="/notificationdemo" method="get">
    <input type="submit" value="notification Demo" >
  </form></li>
  <li><form action="/notification2" method="get">
    <input type="submit" value="notification2" >
  </form></li>
  <li><form action="/notification3" method="get">
    <input type="submit" value="notification3" >
  </form></li>
</ul>

<form action="/about" method="get">
  <input type="submit" value="about" >
</form>
</body>

</html>
