<!DOCTYPE html>
<html>
<head>

</head>
<body>
	<div class="column-container">
	  <div class="column1">
			<form  action="/loged" method="post">
				<label for="fname">email:</label><br>
				<input type="text" name="email"class="button"></input><br>
				<label for="fname">Password:</label><br>
				<input type="password" name="key" class="button"></input><br><br>
				<input type="submit" value="Login" class="button"></input><br><br>
			</form>
			<form action="/newUser" method="get">
				<label for="fname">New user</label><br>
				<input type="submit" value="Create" class="button"></input><br>
			</form>
	  </div>

		<div class="column2">
			aca mostraria el ultimo documento subido
			<embed src="/Sinatra.pdf" type="application/pdf" width="100%" height="600px" />
		</div>

		<div class="column1">
			<div class="vertical-menu">
			  <a href="#" class="active">Documents</a>
			  <a href="#">Doc Nro</a>
			  <a href="#">Doc Nro</a>
			  <a href="#">Doc Nro</a>
			  <a href="#">Doc Nro</a>
			  <a href="#">Doc Nro</a>
			  <a href="#">Doc Nro</a>
			  <a href="#">Doc Nro</a>
			  <a href="#">Doc Nro</a>
			  <a href="#">Doc Nro</a>
			  <a href="#">Doc Nro0</a>
			</div><br><br><br>

			<form  action="/service" method="post">
				<label for="fname">DNI:</label><br>
				<input type="text" name="dni"class="button"></input><br>
				<input type="submit" value="Login" class="button"></input>
			</form>
			<p>Servicio carnada: un invitado puede ver si hay documentos en los que esta presente,
			luego de esco claramente va a usar la app</p>


	  </div>
	</div>










</body>
