<!DOCTYPE html>
<html>
<head>

<title>Usted fue mecionado en un Acta</title>

</head>


<body>

<h1>Sistema de notificaciones</h1>
<p>Usted fue mencionado en la siguiente Acta: </p>
<a href="https://www.unrc.edu.ar/descargar/EstatutoUNRC.pdf">Nombre y link de Acta </a>

</body>

</html>
