<html>
    <head>
        <!--Import Google Icon Font-->
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <!--Import materialize.css-->
 <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>

 <!--Let browser know website is optimized for mobile-->
 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
 <body>
     <div class="row">
     <div class="col s5">
    <h1>Simple Echo & Chat Server</h1>
    <form id="forms">
        <input type="text" id="input" value="send a message"></input>
    </form>
    <div id="msgs"></div>
    </div>
    <div class="col s2" >
        <a style="color:#212121; font-weight: bold;"href="/user_documents">
            <%if @alert > 0%>
            <span style="float: right ;background-color: crimson; z-index: -2; "class="new badge" id="notification"><p id="count"><%= @alert %></p></span>
            <%end%>
            Notificaciones
        </a> 
    </div>
</div>
 </body>
 <script type="text/javascript">
    window.onload = function(){
        (function(){
            var show = function(el){
                return function(msg){ el.innerHTML = msg + '<br />' + el.innerHTML; }
            }(document.getElementById('msgs'));
            var ws = new WebSocket('ws://' + window.location.host + window.location.pathname);
            ws.onopen = function() { show('websocket opened'); };
            ws.onclose = function() { show('websocket closed'); }
            ws.onmessage = function(m) { 
                <%= @alert = @alert+2%>;
                var txt = document.createTextNode(<%= @alert%>);
                var x = document.createElement("p");
                document.getElementById("count").setAttribute("style","display:none;");
                x.appendChild(txt);
                x.setAttribute("id","count");
                document.getElementById("notification").appendChild(x);
            };
            var sender = function(f){
                var input = document.getElementById('input');
                input.onclick = function(){ input.value = "" };
                f.onsubmit = function(){
                    var txt =<%= @alert%>+1;
                ws.send(txt);
                input.value = "send a message";
                return false;
            }
            }(document.getElementById('form'));
        })();
    }
 </script>
</html>