  <head>
    <title>
      Subir Acta | Sistema de Actas
    </title>
  </head>
      <!-------  seleccionar archivo   ------->
      <div class="column1 z-depth-2 col s2">
        <form id="form" class="button" action="/load" method="post" enctype="multipart/form-data">
          <input id="fpdf" type="file" name="pdf" value=""class="button" accept="application/pdf">
        </form>



        <form action="/sign_in" method="get" >
          <button class="btn waves-effect waves-light col s12 card-panel brown lighten-4 btn1">Cancelar</button>
        </form><br>
      </div>
      <!--------   Previsualizar archivo   ----------->
      <div class="column2 col s8">
        <% if @filename %>
          <embed src="/temp/<%= @filename %>" type="application/pdf" width="100%" height="660px" />
        <% end %>
      </div>
      <!--------- Taggear y subir  --------->
      <div class="column1 z-depth-2 col s2">
        <form class="button" action="/upload" method="post">
          <label for="fname">Fecha:</label>
          <input type="text" name="realtime" value="<%= @time %>" class="button"readonly>
          <label for="fname">Descripción:</label>
          <input type="text" name="description" value="" class="button">
          <label for="fname">N° de Resolución:</label>
          <input type="text" name="resolution" value="" class="button">
          <input type="text" name="path" value ="<%= @filename %>" class="button" hidden>
          <input type="text" name="filena" value ="<%= @filename %>" class="button" readonly hidden>
          <button class="btn waves-effect waves-light col s12 card-panel brown lighten-4 btn1">Subir</button>
        </form>
      </div>
    </div>
  </html>
<script>
  document.getElementById("fpdf").onchange = function() {
    document.getElementById("form").submit();
  };
</script>
