*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial;
}

a{
  color: white;
  margin-right: 4px;
}

header{
  background: #34495E;
  width: 100%;
}

.vertical-menu {
  width: 100%;
  height:300px;
  overflow-y: auto;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.button{
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
  }
.row{
  width: 100%;
  box-sizing: border-box;
}
.menu ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.button1 {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #34495E;
    text-align: center;
    cursor: pointer;
    width: 100%;
    }
    .button1:hover {
    background-color: #555;
    }

    .button2 {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #34495E;
    text-align: center;
    cursor: pointer;
    width: 90%;
    }
    .button2:hover {
    background-color: #555;
    }


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.backButton {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}
.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.column4 {
  float: left;
  width: 33%;
  margin-bottom: 15px;
  padding: 0 2px;
  box-sizing: border-box;
}

.menu ul li{
  display: inline-block;
}
.item-r{
  float: right;
}
.logo{
  width: 35px;
  height: 35px;
}


.menu ul li a{
  text-decoration: none;
  display: block;
  padding: 10px;
}

.menu ul li:hover{
  background-color:#403E3E ;

}

.vertical-menu a:hover {
  background-color: #ccc;

}

.vertical-menu a.active {
  background-color: #34495E;
  color: white;
}

.column-container{
  width: auto;
}

.column1 {
  float: left;
  width: 15%;
  height: 600px;
  padding: 7px;
  box-sizing: border-box;
  background-color: #ccc;
}
.column2 {
  float: left;
  width: auto;
  height: 600px;
  padding: 7px;
  width: 70%;
  box-sizing: border-box;
}
.columnmid {
  float: left;
  width: auto;
  height: 600px;
  padding: 7px;
  width: 70%;
  box-sizing: border-box;
  text-align:center;
  font-family:verdana;
}
.buttonmid{
  width: 25%;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* css de las listas publicas */
#lista_publica {
  counter-reset: li;
  list-style: none;
  *list-style: decimal;
  font: 15px 'trebuchet MS', 'lucida sans';
  padding: 0;
  margin-bottom: 4em;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

#lista_publica ol {
  margin: 0 0 0 2em;
 
}

#li1 li h1{
  background-color: rgb(197, 196, 196);
  border-bottom-style: ridge;
}
#li1{
  margin: 0 0 0 2em;
  # background-color: blue;
  width: 100%;
  min-height: 600px;
  border-left-style: ridge;
  border-right-style: ridge;
  border-top-style: ridge;
  border-color: #ddd;
}
#lista_publica li{

  width: 90%;
  position: relative;
  display: block;
  padding: .4em .4em .4em .8em;
  *padding: .4em;
  margin: .5em 0 .5em 2.5em;
  background: #ddd;
  color: #444;
  text-decoration: none;
  transition: all .3s ease-out;
}
#lista_publica p {
  color:black;
  padding: 0px;
 /* border-style: dotted;
  border-color: #fa8072;*/
}
#lista_publica a {
  color:black;
  float: right;
  width: 90px;
  /*border-style: dotted;
  border-color: #fa8072;*/
}
#lista_publica li:hover{
  background: #ccc;
}

#lista_publica li:after{
  position: absolute;
  content: '';
  border: .5em solid transparent;
  left: -1em;
  top: 50%;
  margin-top: -.5em;
  transition: all .3s ease-out;
}

#lista_publica li:hover:after{
  left: -.5em;
  border-left-color: #fa8072;
}
#section_headder{
  text-align: left;
  padding-left: 40px;
 }