*{
  margin: 0;
  padding: 0;
}
.clearfix{
  clear:both;
}
body {
  font-family: Arial;
}

.vertical-menu {
  width: 100%;
  height:300px;
  overflow-y: auto;

}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;

}

.button{
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
}

.buttonAs{
  width: 313%;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
}

.buttonAsD{
  width: 313%;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
  color: red;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
  }
.row{
  width: 100%;
  box-sizing: border-box;
}
.menu ul{
  list-style: none;
  margin: 0;
  padding: 0;


}


ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.button1 {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #34495E;
    text-align: center;
    cursor: pointer;
    width: 100%;
    }
    .button1:hover {
    background-color: #555;
    }

    .button2 {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #34495E;
    text-align: center;
    cursor: pointer;
    width: 90%;
    }
    .button2:hover {
    background-color: #555;
    }


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.backButton {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}
.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.column4 {
  float: left;
  width: 33%;
  margin-bottom: 15px;
  padding: 0 2px;
  box-sizing: border-box;
}

.menu ul li{
  display: inline-block;
}
.item-r{
  float: right;
}
.logo{
  width: 35px;
  height: 35px;
}


.menu ul li a{
  text-decoration: none;
  display: block;
  padding: 10px;
}

.menu ul li:hover{
  background-color:#403E3E ;

}

.vertical-menu a:hover {
  background-color: #ccc;

}

.vertical-menu a.active {
  background-color: #34495E;
  color: white;
}
/*-------- header  --------*/
.header-container{
  background: #00304e;
  width: 100%;
  border-bottom-style: ridge;
  border-bottom-color:#cfab7b;
  min-height: 90px;

}
.header-logo{
  float: left;
  width: 10%;
  height: 88px;
  box-sizing: border-box;
}
.header-logo img{
  padding-top: 10px;
  padding-left: 60px;
}
.header-tittle{

  float: left;
  width: 70%;
  min-height: 88px;
  box-sizing: border-box;
}
.header-tittle h1{
  font-size: 220%;
  font-family: 'Times New Roman', Times, serif;
  color:#ffffff;
  padding-top: 5px;
}
.header-tittle p{
  padding-left: 64px;
  padding-top: 0;
  color :#cfab7b;
  font-family: Arial, Helvetica, sans-serif;
}
.header-menu{
  float: left;
  width: 20%;
  min-height: 88px;
  box-sizing: border-box;
}
.header-menu ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-menu ul li{
  list-style: none;
  margin: 0;
  padding-top: 65px;
  float: right;
  background: #01579b;
  padding-left: 15px;

}
.header-menu ul li a{
  text-decoration: underline;
  text-decoration-color:#cfab7b;
  color :#cfab7b;
  margin-right: 5px;
  border-bottom-style: ridge;
  border-bottom-color:#cfab7b;
}
/*----- Footer ---------*/
.footer-container{
  background: #00304e;
  width: 100%;
  border-top-style: ridge;
  border-top-color:#cfab7b;
  height: 120px;

}
/*-------  Body   --------*/
.column-container{
  display: flex;
  width: auto;
}

.column1 {
  float: left;
  width: 15%;
  min-height: 600px;
  padding: 7px;
  box-sizing: border-box;
  background-color: rgb(160, 160, 160);
  border-right-style: ridge;
  border-right-color: #ccc;;
}
.column2 {
  float: left;
  width: auto;
  min-height: 600px;
  padding: 7px;
  width: 70%;
  box-sizing: border-box;
}
.columnmid {
  float: left;
  width: auto;
  min-height: 600px;
  padding: 7px;
  width: 70%;
  box-sizing: border-box;
  text-align:center;
  font-family:verdana;
}
.buttonmid{
  width: 25%;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.notification-list {

  
  overflow-y: auto;
  counter-reset: li;
  list-style: none;
  *list-style: decimal;
  font: 15px 'trebuchet MS', 'lucida sans';
  padding: 0;
  margin-bottom: 0px;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  /*border-style: dotted;
  border-color: #fa8072;*/
}

.notification-list ol {
  margin: 0 0 0 2em;

}
.notification-list li:hover{
  background: #ccc;
}

.notification-list li:after{
  position: absolute;
  content: '';
  border: .5em solid transparent;
  left: -1em;
  top: 50%;
  margin-top: -.5em;
  transition: all .3s ease-out;
}

.notification-list li:hover:after{
  left: -.5em;
  border-left-color: #fa8072;
}
#li2 li h1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(197, 196, 196);
  border-bottom-style: ridge;
  border-bottom-color: #cfab7b;
  color: rgb(39, 38, 38);
}
#li2{
  margin: 0 0 0 2em;
  # background-color: blue;
  width: 100%;
  min-height: 580px;
  border-style: ridge;

  border-color: #ddd;
}
.notifications-box{
  height:580px;
  overflow-y: auto;
}
/* css de las listas publicas */
.lista_publica {

  height:580px;
  overflow-y: auto;
  counter-reset: li;
  list-style: none;
  *list-style: decimal;
  font: 15px 'trebuchet MS', 'lucida sans';
  padding: 0;
  margin-bottom: 0px;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  /*border-style: dotted;
  border-color: #fa8072;*/
}

.lista_publica ol {
  margin: 0 0 0 2em;

}

#li1 li h1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(197, 196, 196);
  border-bottom-style: ridge;
  border-bottom-color: #cfab7b;
  color: rgb(39, 38, 38);
}
#li1{
  margin: 0 0 0 2em;
  # background-color: blue;
  width: 100%;
  min-height: 580px;
  border-style: ridge;

  border-color: #ddd;
}

.li-box{
  width: 90%;
  position: relative;
  display: block;
  padding: .4em .4em .4em .8em;
  *padding: .4em;
  margin: .5em 0 .5em 2.5em;
  background: rgb(235, 235, 235);
  color: #444;
  text-decoration: none;
  transition: all .3s ease-out;
  margin-bottom: 20px;
  border-bottom-style: ridge;
  border-bottom-color:rgb(235, 235, 235);
}
.record-box p {
  color:black;
  padding: 0px;
  /*border-style: dotted;
  border-color: #fa8072;*/
}
.record-box a {
  color:black;
  float: right;
  padding-right: .4em;
  /*border-style: dotted;
  border-color: #fa8072;*/
 }
.record-box{
  padding: 0px;
  width: 100%;
}
.record-data{
  padding-top: 20px;
  float: left;
  width: 40%;
  padding: 0px;
 /* border-style: dotted;
  border-color: orange; */
}
.options-records-box {
 /* padding-top: 18px;*/
  float: right;
  width: 58%;
  /*border-style: dotted;
  border-color: green;*/
}
/*#option2{
  padding: 0%;
  margin: 0px;
  border-style: dotted;
  border-color: green;
}
#option2 form{
  margin: 0px;
  padding: 0px;
  border-style: dotted;
  border-color: orange;
  padding-top: 25px;
}*/
.options-records-box-public {
  /* padding-top: 18px;*/
   float: right;
   width: 58%;
   /*border-style: dotted;
   border-color: green;*/
 }
.options-records-box-public a{
  padding-top: 18px;
}
/* lista de opciones para cada acta */
.options-records-box a{
  padding-top: 20px;
}
.options-records-box form{
  padding-top: 18px;
}
.options-records-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  /*border-style: dotted;
  border-color: blue;*/
}

.options-records-list li {
  list-style: none;

  margin: 0px;
  padding: 0px;
  float: right;
  padding-left: 12px;
  /*border-style: dotted;
  border-color: purple;*/
}
.lista_publica li:hover{
  background: #ccc;
}

.lista_publica li:after{
  position: absolute;
  content: '';
  border: .5em solid transparent;
  left: -1em;
  top: 50%;
  margin-top: -.5em;
  transition: all .3s ease-out;
}

.lista_publica li:hover:after{
  left: -.5em;
  border-left-color: #fa8072;
}
#section_headder{
  text-align: left;
  padding-left: 40px;
 }
 .none{
   list-style: none;
   padding: 0px;
 }
  .modify-password {
    width: 100%;
  }
  .modify-password ul {
    padding-left: 50px;
    float: right;
  }
  .modify-password ul li{
    padding-top: 20px;
  }
 .modify-password form {
   width:90%;
   font-family:Arial;
   float: right;

  }

 .modify-password form input {
   font-family:Arial;
   float: right;
   }

 .modify-password form div {
   margin:5px;
   width: 100%;
   padding-top: 20px;
  }

 .modify-password form div:last-child {text-align:center;margin-top:10px;}
 .modify-box{
   padding-top: 30px;
   width: 100%;
 }
 .left{
   float:left;
  width: 15%;
  /*border-style: dotted;
  border-color:red;*/
  min-height: 20px;
 }
 .center{
  float:left;
  width: 65%;
  /*border-style: dotted;
  border-color: green;*/
 }
 .right{
  float:left;
  width: 10%;
 /* border-style: dotted;
  border-color: blue;*/
 }
 .button-mark-read{
  font-size:10px;
  font-family:Verdana,Helvetica;
  font-weight:bold;
  color:white;
  background:hsl(162, 75%, 42%);
  border:0px;
  width:80px;
  height:19px;
 }
 .button-delete{
  font-size:10px;
  font-family:Verdana,Helvetica;
  font-weight:bold;
  color:white;
  background:#bd2b2b;
  border:0px;
  width:80px;
  height:19px;
 }
 .button-download{
  font-size:10px;
  font-family:Verdana,Helvetica;
  font-weight:bold;
  color:white;
  background:#cfab7b;
  border:0px;
  width:80px;
  height:19px;
 }
 .button-modify{
  font-size:10px;
  font-family:Verdana,Helvetica;
  font-weight:bold;
  color:white;
  background:#00304e;
  border:0px;
  width:100px;
  height:19px;
 }
 /* Style the "Add" button */
.addBtn {
  padding: 8px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: right;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  }

  .addBtn:hover {
  background-color: #bbb;
  }
  .registerbox{
    width: 100%;
  }
  .inputbox{
    width: 47%;
    float: left;
    }
  .errorbox{
    width: 50%;
    float: left;
    padding-left: 5px;
  }
  /*    perfil de Usuario */
  .profile-box{
    width: 100%;

  }
  .image-box{
    padding-top: 8px;
    width: 25%;
    height: 215px;
    float: left;
  }
  .user-info{
    padding-left: 5px;
    width: 70%;
    float: left;
    min-height: 200px;

  }
  .show-user{
    padding-top: 5px;
    padding-left: 15px;
    width: 90%;
    float: left;
  }

  .user-info h3{

    width: 18%;
    padding-top: 5px;


  }
  .user-info h5{
    padding-left: 5px;
    padding-top: 2px;
  }
  .user-options-box{
    width: 94%;
    border-top-style: outset;
    border-top-color: #cfab7b;
  }
  .user-options-box ul{
   float: left;
   width: 96%;
  }
  .user-options-box ul li{
    padding-top: 2px;
    padding-right: 2px;
    float: left;

  }
  .button-user {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 2px;
    color: white;
    background-color: #34495E;
    text-align: center;
    cursor: pointer;
  }

  .notification {
    border: none;
    outline: 0;
    position: relative;
    display: inline-block;
    padding: 0px 0px;
    color: white;
    border-radius: 2px;
    background-color: #34495E;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }

  .notification:hover {
    background: #555;
  }

  .notification .badge {
    position: absolute;
    top: -10px;
    right: -6px;
    padding: 1px 6px;
    border-radius: 50%;
    background: red;
    color: white;
  }

  form.searchbyres {
    padding-left: 37px;
    padding-top: 15px;
  }
  
  form.searchbyres input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 84%;
    background: #f1f1f1;
  }

  form.searchbyres button {
    float: left;
    width: 10%;
    padding: 10px;
    background: #34495E;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }

  form.searchbyres button:hover {
    background: #0b7dda;
  }

  form.searchbyres::after {
    content: "";
    clear: both;
    display: table;
  }